/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #191919;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$linkColor: #e7ad52;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

// Background generator
@mixin bodyBackground() {
	@include radial-gradient($backgroundColor, lighten( $backgroundColor, 5% ) );
}

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/*********************************************
 * CUSTOM
 *********************************************/
.reveal small {
	font-size: 0.75em;
}

#logo path{
	fill: $mainColor;
}

.background-watermark{
	background-image: url(https://tribu-and-co.fr/images/contenu/bg-typo3.png);
	background-repeat: no-repeat;
	background-size: 50%;
	background-position-x: right;
	background-position-y: bottom;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.3;
}

.reveal strong{
	color: $linkColor;
}
.overlay {
	background-color: rgba(38, 38, 38, 0.75);
	color: #fff;
	padding: 10px;
}

.overlay-right {
	position: absolute;
	right:-12%;
	max-width: 60%;
}

.title {
	font-weight: bold;
}
